/* media queries */
@media handheld, screen and (max-height: 450px), screen and (max-width: 700px) {
   body { width: 95%; }
   a {
       text-decoration: none;
       color: #00ccff;
   }
   nav ul#main {
       list-style: none;
       margin: 0.2em;
       padding: 0;
       position: relative;
       left: 75px;
       top: 8px;
       width: 60%;
   }
   nav #logo {
       font-size: 300%;
       position: absolute;
       top: -5px;
       left: 10px;
   }
   nav#main {
       top: 5px;
       left: 8px;
       right: 8px;
       height: 60px;
       position: fixed;
   }
   body#index {
       top: 50px;
       height: 94%;
       position: absolute;
   }
   nav .header {
       display: inline;
       list-style-type: none;
   }
   nav .item { display: none; }
}

@media screen and (min-height: 451px) and (min-width: 701px) {
   body { width: 70%; }
   a {
       text-decoration: none;
       color: #00ccff;
   }
   nav #logo {
       font-size: 500%;
       position: fixed;
       left: 74%;
       top: 0px;
   }
   nav#main {
       width: 26%;
       position: fixed;
       right: 1%;
       top: 75px;
   }
   nav ul#main {
       top: 50%;
       bottom: 0px;
       margin-left: 15px;
       margin-right: 15px;
       padding-left: 0;
   }
   nav li.header {
       list-style-position: outside;
       list-style: none;
       margin-left: 0;
       padding-left: 0;
   }
   nav li.item {
       margin-left: 20px;
       list-style-type: square;
   }
}

@media screen and (min-width: 1200px) {
   article #text {
       column-width: 40em;
       -moz-column-width: 40em;
       -webkit-column-width: 40em;
       column-gap: 2em;
       -moz-column-gap: 2em;
       -webkit-column-gap: 2em;
   }
}

@media print {
   nav#main { display: none; }
   a {
      color: black;
      background-color: white;
   }
}


/* defaults */
img {
   border: 0 none;
}

html {
   background-color: #000000;
   color: #ffffff;
}

body {
}

hr {
   width: 75%;
}

code {
   white-space: pre-wrap;
}


/* main */
div#main_block {
}

nav #logo {
   text-shadow: 1px 1px 3px #fff;
}

nav#main {
   background: #222222;
   border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   box-shadow: 0px 0px 25px #fff;
   -moz-box-shadow: 0px 0px 25px #fff;
   -webkit-box-shadow: 0px 0px 25px #fff;
   z-index: 99;
}

footer.post-info {
   text-align: right;
   font-size: 80%;
}

footer#contentinfo {
   text-align:center;
   font-size:75%;
}

#posts-list {
   list-style-type: none;
}

/* posts */
article a.readmore {
   position: relative;
   float: right;
}
